[submodule "firmware/lib/picowota"]
	path = firmware/lib/picowota
	url = https://github.com/usedbytes/picowota
[submodule "firmware/lib/pico-sdk"]
	path = firmware/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
